<h1>{{title}}</h1>
<p>Cleaner streets without the tickets</p>

<div id="locationField">
  <input class="viewableField" id="autocomplete" placeholder="Enter your address" type="text"/>
  <input class="viewableField" id="phoneField" placeholder="Enter your phone number" type="text"/>
  <input class="viewableField" id="radiusField" placeholder="Enter alert block radius" type="number"/>
  <input class="viewableField" id="phoneField" placeholder="Enter your email" type="email" required />

</div>

<button class="alertBtn">Alert me</button>

<br/>
<br/>
<label>Review Address</label>

<table id="address">
  <tr>
    <td class="label">Street address</td>
    <td class="slimField"><input class="field" id="street_number" disabled="true"></input></td>
    <td class="wideField" colspan="2"><input class="field" id="route" disabled="true"></input></td>
  </tr>
  <tr>
    <td class="label">City</td>
    <td class="wideField" colspan="3"><input class="field" id="locality" disabled="true"></input></td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"></input></td>
    <td class="label">Zip code</td>
    <td class="wideField"><input class="field" id="postal_code" disabled="true"></input></td>
  </tr>
  <tr>
    <td class="label">Country</td>
    <td class="wideField" colspan="3"><input class="field" id="country" disabled="true"></input></td>
  </tr>
</table>


<script type="text/javascript">

  // -- Phone Field Masking Script --

  document.getElementById("phoneField").oninput = function(evt) {
    // Checking as user types
    var val = evt.target.value.replace(/\D/g, '');
    var newVal = '';
    if((val.length > 3) && (val.length <= 6)) {
      newVal += '(' + val.substr(0, 3) + ') ';
      val = val.substr(3);
    }
    if (val.length > 6) {
      newVal +=  '(' + val.substr(0, 3) + ') ';
      newVal += val.substr(3, 3) + '-';
      val = val.substr(6);
      if(val.length > 4){
        val = val.substr(0, val.length - 1);
      }
    }
    newVal += val;
    evt.target.value = newVal;
  };

</script>

<script>

  // -- Address Auto Complete Script --
  
  var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);

    //Restric range for just San Diego
    var circle = new google.maps.Circle({
      center: {lat:32.7152778, lng: -117.1563889},
      radius: 40000 //TODO Bump this up?
    });
    autocomplete.setBounds(circle.getBounds());
  }

  function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();

    for (var component in componentForm) {
      document.getElementById(component).value = '';
      document.getElementById(component).disabled = false;
    }

    // Get each component of the address from the place details
    // and fill the corresponding field on the form.
    for (var i = 0; i < place.address_components.length; i++) {
      var addressType = place.address_components[i].types[0];
      if (componentForm[addressType]) {
        var val = place.address_components[i][componentForm[addressType]];
        document.getElementById(addressType).value = val;
      }
    }
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>
