body{
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#header{
  height:75px;
  background: green;
  margin-bottom: 20px;
}

a{
  color: #00B7FF;
}

.viewableField{
 width:100%; 
 margin-bottom: 10px;
 padding: 10px;
 border-radius: 5px;
 border: 1px solid black; 
}
.viewableField:focus{
 border: 1px solid blue; 
}
.field {
  width: 99%;
}
.slimField {
  width: 80px;
}
.wideField {
  width: 200px;
}

#alertBtn{
  height: 30px;
  width: 80px;
  border-radius: 7px;
  background: orange none repeat scroll 0% 0%;
  border: 1px solid black;
}
#nextBtn{
  margin-top: 20px;
  margin-right: 20px;
}
#enterManualLink{
  margin-top: 20px;
  margin-right: 20px;
}


.title{
  text-align: center;
  margin:0;
  padding-top: 10px;
  /*display: block;*/
  /*margin:auto;*/
  /*left: 14px;*/
  /*top: -6px;*/
}
.tagline{
  position: absolute;
  left: auto;
  top: 61px;
}

/*addressSelect*/
#mapCanvas {
  width: 100%;
  height: 400px;
  float: left;
}
#infoPanel {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}
#infoPanel div {
  margin-bottom: 5px;
}